*{
  margin:0;
  box-sizing: border-box;
  font-family: sans-serif;
  color:black;
}

body{
  width:100%;
  height:100%;
  background-size: 40px 40px;
  background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}
main{
  width:100%;
  height:100%;
}

section{
  margin: 20px 0px 20px 0px;
  /* border: 2px solid slateblue; */
 }

header{
  border: 2px solid slateblue;
  background-color:white;
}


ul > li{
  list-style: none;
  font-size: 30px;
}

#auth{
  flex-wrap: wrap;

}